.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 120px 70pc 10pc;
    background: #F1F1F1;
}

#header {
    grid-column: 1/4;
    background: white;
}

#mainColumn {
    grid-column: 2/3;
    grid-row: 2/5;
    background: white;
    padding: 15px 20px;
}

#mainColumn-folders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    grid-gap: 30px 30px;
}

#mainColumn-list {

}


.card {
    /* Add shadows to create the "card" effect */
    height: 280px;
    border-radius: 6px;
    padding: 15px 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-field {
    height: 250px;
    border-radius: 6px;
    background: #F1F1F1;
    transition: 0.3s;
}

.folder {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    align-content: center;
    background: #F1F1F1;
}

/* On mouse-over, add a deeper shadow */
.folder:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none;
    text-align: center;
    color: #8d9499;
}

.fullHeightImg {
    height: 200px;
}

.choose-btn {
    display: inline-block;
    padding: 8px 14px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    color: #008BFF;
    border-radius: 6px;
    border: 1px solid #008BFF;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.request-field {

    width: 95%;
    height: 30px;
    margin-bottom: 8px;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #008BFF;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
}


