html, body {
    height: 100%;
    background-image: url("/resources/images/dots_gradient_zircon_1.jpg");
    background-size: cover;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;

}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4.5fr 3.5fr 1fr;
    grid-template-rows: 10% 1fr 5%;
    color: #57a5d2;
}

#header {
    grid-column: 1/5;
}

#mainLeftColumn {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 10px 10px;
    overflow: scroll;
    /*border-radius: 12px;*/
}

#mainRightColumn {
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 10px 10px;
    overflow: scroll;
    /*border-radius: 12px;*/
}

.mail-left-col-bkg {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1vh;
    width: inherit;
    height: 95%;
    padding: 12px 12px;
}
.mail-right-col-bkg {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1vh;
    width: inherit;
    padding: 12px 12px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.chart-div {
    height: 50vh;
    padding-top: 20px;
}

.project-name{
    width: 100%;
    height: 6vh;
    padding-top: 1vh;
    margin-bottom: 1vh;
    font-size: 25px;
    /*font-family: 'Playfair Display', serif;*/
    /*font-style: italic;*/
    font-weight: bolder;
    color: white;
    border-radius: 0.6vh;
    outline: none;

    background: rgba(19,106,130,1);
    background: -moz-linear-gradient(45deg, rgba(19,106,130,1) 0%, rgba(93,104,144,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(19,106,130,1)), color-stop(100%, rgba(93,104,144,1)));
    background: -webkit-linear-gradient(45deg, rgba(19,106,130,1) 0%, rgba(93,104,144,1) 100%);
    background: -o-linear-gradient(45deg, rgba(19,106,130,1) 0%, rgba(93,104,144,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(19,106,130,1) 0%, rgba(93,104,144,1) 100%);
    background: linear-gradient(45deg, rgba(19,106,130,1) 0%, rgba(93,104,144,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#136a82', endColorstr='#5d6890', GradientType=1 );

    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.task-form-div {
    display: inline-grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 20vh;
    margin-bottom: 7px;
    font-size: 14px;
    border-radius: 0.6vh;
    outline: none;
    background: #ffffff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

}

.task-btn {
    display: inline-grid;
    grid-template-columns: 1fr 4fr 3fr;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    horiz-align: center;
    height: 6vh;
    margin-bottom: 1vh;
    font-size: 14px;
    /*border-top-left-radius: 4vh;*/
    /*border-bottom-left-radius: 4vh;*/
    /*border-top-right-radius: 0.6vh;*/
    /*border-bottom-right-radius: 0.6vh;*/
    border-radius: 0.6vh;
    outline: none;
    background: white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.task-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);}

.task-name {
    grid-column: 2/4;
    grid-row: 1/3;
    margin: auto;
    font-size: 1.3em;
    color: #5d6890;
}

.task-status {
    grid-column: 3/4;
    grid-row: 2/3;
    margin: auto;
    text-align: center;
}

.task-deadline {
    grid-column: 1/2;
    grid-row: 1/3;
}

.stat-waitng {
    border-left: 8px solid #5d6890;
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    height: inherit;
    border-radius: 0.6vh;
    font-size: 15px;
    font-weight: bolder;
    color: #5d6890;

    }

.stat-toreview {
    border-left: 8px solid  #59d8db;
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    height: inherit;
    border-radius: 0.6vh;
    font-size: 15px;
    font-weight: bolder;
    color: #5d6890;
}

.stat-ongoing {
    border-left: 8px solid rgb(127, 180, 223);
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    height: inherit;
    border-radius: 0.6vh;
    font-size: 15px;
    font-weight: bolder;
    color: #5d6890;
}

.stat-accepted {
    border-left: 8px solid  rgb(220, 220, 220);
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    height: inherit;
    border-radius: 0.6vh;
    font-size: 15px;
    font-weight: bolder;
    color: #5d6890;
}

.project-info {
    font-size: 1em;
    margin: 5px;
    text-align: right;
}

.project-info span{
    display: inline;
    text-align: center;
    font-size: 1em;
    margin: 10px;
    color: #5d6890;
}

.project-info p{
    display: inline;
text-align: right;
    margin-top: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
 }

.fin-tasks{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    /*font-family: 'Abril Fatface', cursive;*/
    color: #57a5d2 ;
    margin: 0;
}

.deadline{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    /*font-family: 'Abril Fatface', cursive;*/
    color: #57a5d2 ;
    margin: 0;
}

.days-left{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    /*font-family: 'Abril Fatface', cursive;*/
    color: #57a5d2 ;
    margin: 0;
}

.img-div {
    height: 80px;
    width: 120px;
}

.img-miniature {
    display: inline-block;
    object-fit: cover;
}

.noTasksImg {

}

.taskForm {
    width: 95%;
    margin-top: 1vh;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Work Sans', sans-serif;
}

.taskForm input[type="text"],
.taskForm text {
    display: inline;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 50%;
    height: 30px;
    background: #ffffff;
    display: block;
    outline: none;
    border: 1px solid #bcbcbc;
    line-height: 25px;
    font-size: 16px;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;

    /*font-family: Georgia, "Times New Roman", Times, serif;*/

}


.taskForm input[type="textarea"],
.taskForm textarea {
    /*box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    width: 100%;
    height: 60px;
    background: #ffffff;
    display: block;
    outline: none;
    line-height: 25px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #bcbcbc;
    border-top: 0px;
    font-family: 'Work Sans', sans-serif;

    /*font-family: Georgia, "Times New Roman", Times, serif;*/

}

#submit {
    display: block;
    width: 100%;
    padding: 8px 14px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    color: #bcbcbc;
    border: 1px solid #bcbcbc;
    background: #ffffff;
    border-top: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    horiz-align: right;
    vertical-align: middle;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    font-family: 'Work Sans', sans-serif;
}

.projectForm label {
    display: block;
    padding: 8px 14px;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: 1px solid #bcbcbc;
    horiz-align: right;
    vertical-align: middle;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;

}








